
*{margin: 0%;
    padding: 0%;
}

.A{
    padding-left: 30%;
    background-color: rgb(4, 162, 253); 

    font-size: 300%;
}
 
.b{
    background-color: rgb(183, 213, 233);
}

.C{
font-size: 250%;

}

.d{
font-size: 170%;

}

.img1{
width: 40%;
padding-left: 30%;

}

.v{
font-size: 250%;

}
.y{
    font-size: 190%;

}

.img2{
width: 40%;
padding-left: 30%}
    

.dia{

    font-size: 250%;

}

.exemplos{

font-size: 180%;
}

.voz{
    font-size: 180%;

}

.img3{
width: 40%;
padding-left: 30%}



.facial{

    font-size: 180%;
}


.img4{
    width: 40%;
    padding-left: 30%}

.fe{
    padding-left: 10%;
}


