*{margin: 0%;
    padding: 0%;
}

.A{
    padding-left: 30%;
    background-color: rgb(4, 162, 253); 

    font-size: 300%;
}

.b{
    background-color: rgb(183, 213, 233);
}

.c{
    font-size: 250%;
}

.img1{
width: 40%;
 padding-left: 30%;
    
 }

.v{
font-size: 170%;
        
}

.d{
  font-size: 170%;

}

.e{
    font-size: 250%;
}

.y{

    font-size: 170%;
}

.fe{
    padding-left: 10%;
}